.page.home {
    --home-font-size: 1.6rem;
    --home-line-height: calc(1.75 * var(--home-font-size)); /* 2.8 rem */
    --home-ext-icons-size: calc(1.5 * var(--home-font-size));

    .short-presentation {
        font-size: var(--home-font-size);
        line-height: var(--home-line-height);
        margin-block-end: calc(0.6 * var(--home-font-size)); 
    }

    .also-on {
        .title {
            clip: rect(0 0 0 0); 
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap; 
            width: 1px;
        }

        ul {
            display: inline-block;
            padding: 0;

            li {
                display: inline-block;
                margin-inline-end: 1rem;
            }

            img {
                width: var(--home-ext-icons-size);
                aspect-ratio: 1;
            }
        }
    }

    @media screen and (min-width: 48rem) {
        --home-font-size: 2rem;
    }
}

